<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Sistema de Horas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
</head>
<body>
    <h3 style="text-align:center">Sistema de Horas!!!</h3>
    <div class="text-center" style="padding:50px 0">
        <form class="form-inline" th:action="@{/}" method="post">
            <label for="inputStartHour">Hora inicial:</label>
            <div class="form-group">
                <input type="text" class="form-control" name="username" id="inputStartHour" placeholder="00:00"/>
            </div>
            <label for="inputFinalHour">Hora final:</label>
            <div class="form-group">
                <input type="password" class="form-control" name="password" id="inputFinalHour" placeholder="00:00"/>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-default" value="Registrar"/>
                </div>
            </div>
        </form>
    </div>
</body>
</html>